# git
.git
.gitignore

# glide
/vendor

# Vagrant
.vagrant
Vagrantfile

# Docker
.dockerignore
Dockerfile*

# CI
.travis.yml
.codecov.yml

# misc
*.log
*.conf
/deploy
LICENSE
README*

# local dev
/bin
